################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Wechat.Admin/.vs/config
/Wechat.Admin/.vs/Wechat.Admin/v15
/Wechat.Admin/packages
